$background-color: #fff; //#f9f7f4; //#f5f1eb;
$tint: #241e15;
$tint-inv: #d1d0cb;
$cta: #e85b46; //#005744;
$cta-inv: #ffb500;
$home-background-color: #f5f1eb; //#fbdd8c; //#FAD66B; // #F9D339;

$fs-sans: "Work Sans", Arial, sans-serif;
$fs-serif: var(--fs-serif); // Workaround weil SASS compressed aus "Crimson" #dc143c kompiliert

$fs-sans-fallback: Arial, sans-serif;
$fs-serif-fallback: Georgia, serif;

/* --------------------------------------------------

   Breakpoint Settings
   -------------------------------------------------- */

// min or max
$media-direction: min;  // min / max — default is min (mobile first)

// Breakpoints
// A Sass Map for all Breakpoints you need. But keep it simple! Just add Sizes that you need several times.
// Here are my basic set. I change the values a bit from project to project
$breakpoints: (
  s:  480px,
  m:  768px,
  l:  960px,
  xl: 1220px
);
