.container {
  max-width: 1336px; // 1276px for container
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--site-core-padding);
  box-sizing: border-box;
}

.narrow {
  max-width: 700px;
}

.margin-auto {
  margin: 0 auto;
}

.padding-bottom {
  padding-bottom: 40px;

  @include breakpoint(l) {
    padding-bottom: 50px;
  }
}

.padding-top {
  padding-top: 40px;

  @include breakpoint(l) {
    padding-top: 50px;
  }
}

.rotate-90 {
  transform: rotate(90deg);
}
.rotate-180 {
  transform: rotate(180deg);
}
.rotate-270 {
  transform: rotate(270deg);
}

.main {
  min-height: calc(100vh - 215px);

  body:not(.page-home):not(.page-category):not(.page-blog):not(.page-author) & {
    > div, > article, > section {
      padding-top: 90px;

      @include breakpoint(l) {
        padding-top: 150px;
      }
    }
  }
}

.page-authors {
  .main {
    background: $home-background-color;
  }
}

.hidden {
  visibility: hidden;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.hide-on-s {
  @include breakpoint(s, max) {
    display: none;
  }
}

.text-center {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;

  &.lazyload:not([src]) {
  	visibility: hidden;
  }
}

figure {
  margin: 0;

  img {
    display: block;
  }
}

hr {
  @include squiggly;
}

.button {
  @include button();
  &--ghost {
    @include ghost-button();
  }
  &--large {
    @include large-button();
  }
  &--small {
    @include small-button();
  }
  &--icon {
    @include icon-button();
  }
}

.arrow-button {
  @include arrow-button();
}

.link {
  @include text-link();
  &--left {
    @include text-link-left();
  }
  &--right {
    @include text-link-right();
  }
}

iframe {
  width: 100%;
  border: 0;
}

.hero--home, .site-footer {
  @include bg-pattern();
}

.hero--home {
  --bg-color: #{$home-background-color};
}

.site-footer {
  --bg-color: #{$tint};
}
