.container {
  max-width: 1336px; // 1276px for container
  margin-left: auto;
  margin-right: auto;
  padding: 0 26px;
  box-sizing: border-box;

  @include breakpoint(m) {
    padding: 0 30px;
  }
}

.narrow {
  max-width: 700px;
}

.margin-auto {
  margin: 0 auto;
}

.padding-bottom {
  padding-bottom: 40px;

  @include breakpoint(l) {
    padding-bottom: 50px;
  }
}

.main:not(.elevated) {
  > div, > article, > section {
    padding-top: 90px;

    @include breakpoint(m) {
      padding-top: 150px;
    }

    &.hero--home {
      //background: $home-background-color;
      @include bg-pattern($home-background-color,darken($home-background-color,14%));
    }
  }
}

.hidden {
  visibility: hidden;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;

  img {
    display: block;
  }
}

hr {
  border-color: rgba($tint,0.25);
  border-width: 1px 0 0 0;
  margin: 30px 0;
}

.snackbar {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: $tint;
  color: #fff;
}
