.container {
  max-width: 1336px; // 1276px for container
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--site-core-padding);
  box-sizing: border-box;
}

.narrow {
  max-width: 700px;
}

.margin-auto {
  margin: 0 auto;
}

.padding-bottom {
  padding-bottom: 40px;

  @include breakpoint(l) {
    padding-bottom: 50px;
  }
}

.main:not(.elevated) {
  > div, > article, > section {
    padding-top: 90px;

    @include breakpoint(m) {
      padding-top: 110px;
    }

    @include breakpoint(l) {
      padding-top: 150px;
    }
  }
}

.hidden {
  visibility: hidden;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.text-center {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;

  img {
    display: block;
  }
}

hr {
  @include squiggly;
}
