.blog {
  @include article-tile();

  background-color: $background-color;
  padding: 20px 0 50px;

  .container {
    margin-top: 6px;
    max-width: 1196px;

    > header {
      display: flex;
      align-items: baseline;
      border-bottom: 2px solid rgba(0,0,0,0.1);
      padding: 10px 0 5px;

      h3 {
        margin: 0;
        position: relative;

        /*&::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -18px;
          border-bottom: 2px solid $tint;
          width: 100%;
        }*/
      }

      a {
        margin-left: auto;
      }

      hr {
        width: 160px;
      }
    }
  }

  .posts {
    display: flex;
    flex-wrap: wrap;
  }

  .read-more {
    display: flex;
    margin: 30px 0;

    > a {
      margin: 0 auto;
    }
  }

  @include breakpoint(m) {
    padding: 30px 0;

    .container {
      margin-top: 0;
    }
  }
}
