.blog {
  background-color: $background-color;
  padding: 20px 0 50px;

  .container {
    max-width: 1196px;
  }

  article {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 30px 0;

    > a {
      display: flex;
      flex-wrap: wrap;

      &:hover {
        h1 {
          text-decoration: underline;
        }
      }
    }

    figure {
      flex-basis: 100%;
    }

    h1 {
      color: $cta;
      font-family: $fs-serif;
      font-size: 2.6rem;
      line-height: 1.2;
      margin: 10px 0;
    }

    p {
      font-size: 1.6rem;
      line-height: 1.6;
    }

    .meta {
      font-size: 1.4rem;
      margin: 0;
    }

    &:last-of-type {
      border-bottom: 0;
    }
  }

  @include breakpoint(m) {
    article {
      > a {
        flex-wrap: nowrap;

        > div {
          padding: 0 20px;
        }
      }

      figure {
        flex-basis: 375px;
        flex-shrink: 0;
        max-width: 375px;
      }
    }
  }

  @include breakpoint(l) {
    article {
      > a {
        > div {
          padding: 0 35px;
        }
      }

      h1 {
        font-size: 2.8rem;
      }

      p {
        font-size: 1.7rem;
      }
    }
  }
}
