:root {
  --fs-serif: "Crimson Text", Big Caslon, Book Antiqua, Palatino Linotype, Georgia, serif;

  --background-color: $background-color;
  --tint: $tint;
  --tint-inv: $tint-inv;
  --cta: $cta; //#005744;
  --cta-inv: $cta-inv;
  --home-background-color: $home-background-color; //#fbdd8c; //#FAD66B; // #F9D339;

  --site-core-padding: 24px;

  @include breakpoint(m) {
    --site-core-padding: 30px;
  }

  font-size: 62.5%; // 1rem = 10px
}

/*::selection {
  background: desaturate(lighten($cta, 50%), 50%);
}*/

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: $fs-sans;
  font-size: 1.6rem;
  line-height: 1.4;
  color: $tint;
  margin: 0;
  padding: 0;
}

.page-enter-active, .page-leave-active {
  transition: opacity .2s ease-out;
}
.page-enter, .page-leave-active {
  opacity: 0;
}
