@mixin button {
  display: inline-block;
  color: #fff;
  cursor: pointer;
  background-color: $cta;
  background-image: linear-gradient($cta,darken($cta,4%));
  border: 1px solid $cta;
  border-radius: 4px;
  font-family: $fs-sans;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 1;
  padding: 13px 15px;
  text-decoration: none;
  transition: all .2s ease;

  &:hover {
    background-image: linear-gradient(darken($cta,2%),darken($cta,4%));
    border-color: darken($cta, 4%);
    box-shadow: 0px 3px 5px -2px rgba(darken($cta,20%),.3);
  }

  &:active {
    box-shadow: none;
  }
}

@mixin ghost-button {
  background-color: transparent;
  background-image: none;
  border-color: rgba($tint,0.5);
  color: $tint;
  font-weight: 400;

  &:hover {
    background-color: transparent;
    background-image: none;
    border-color: rgba($tint,0.8);
  }
}

@mixin large-button {
  font-size: 1.8rem;
  padding: 16px 40px;
}

.button {
  @include button();

  &--ghost {
    @include ghost-button();
  }

  &--large {
    @include large-button();
  }
}
