.meta {
  display: flex;
  text-align: left;
  align-items: center;
  margin-bottom: 35px;

  figure {
    flex-basis: 70px;
    flex-shrink: 0;
    margin-right: 15px;
  }

  img {
    border-radius: 100%;
  }

  h2, p {
    font-family: $fs-sans;
    margin: 0 0 3px 0;
  }

  h2 {
    font-size: 1.6rem;
    font-weight: 500;
  }

  p {
    font-size: 1.4rem;
    opacity: 0.6;
  }
}
