.related {
  margin-bottom: 100px;
  position: relative;

  h2 {
    margin: 0 0 30px;
    text-align: center;
  }

  .skid {
    display: flex;
    padding: 0 var(--site-core-padding) 10px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    article {
      display: flex;
      flex-basis: 66vw;
      flex-shrink: 0;
      margin-right: 20px;
      max-width: 375px;
      position: relative;

      &:first-child {
        margin-left: auto;
      }

      &:last-child {
        margin-right: auto;

        &::after {
          content: "";
          display: block;
          position: absolute;
          right: calc(var(--site-core-padding) * -1);
          width: var(--site-core-padding);
          height: 1px;
        }
      }

      @include breakpoint(m) {
        flex-basis: 36vw;
      }

      @include breakpoint(l) {
        flex-basis: 25%;
        margin-right: 0;
        padding: 0 15px;

        &:last-of-type::after {
          display: none;
        }
      }

      h1 {
        font-size: 2.4rem;
        margin: 10px 0;
        text-align: center;
      }

      &:hover {
        h1 {
          text-decoration: underline;
        }
      }
    }
  }
}
