a {
  text-decoration: none;
  color: $tint;

  p & {
    text-decoration: underline;
    transition: all .1s ease-out;

    &:hover {
      text-decoration: none;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  //color: $cta;
  font-family: $fs-serif;
  font-weight: 600;
  line-height: 1.2;
  margin: 30px 0 20px;
  word-break: break-word;

  em {
    font-weight: 400; // there is no 600i
  }
}

h1 {
  font-size: 3.2rem;
  line-height: 1.05;
  margin-top: 50px;

  @include breakpoint(m) {
    font-size: 3.8rem;
  }

  @include breakpoint(l) {
    font-size: 4.6rem;
  }
}
h2 {
  font-size: 2.8rem;
  @include breakpoint(l) {
    font-size: 3.4rem;
  }
}
h3 {
  font-size: 2.4rem;
  @include breakpoint(l) {
    font-size: 3rem;
  }
}
h4, h5, h6 {
  font-size: 2.1rem;
}

p {
  margin: 0 0 16px;
  color: rgba($tint,.86);

  i, cite, em, var, address, dfn {
    font-style: normal; // Work Sans has no italics
  }
}

li {
  color: rgba($tint,.86);
}

strong, b {
  font-weight: 600;
}

pre {
  color: #abb2bf;
  background: #282c34;
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  padding: 15px;
  overflow: auto;
  border-radius: 4px;
  cursor: text;
}

blockquote {
  font-family: $fs-serif;
  font-weight: 400;
  margin: 50px 0;
  padding: 0 15px;
  position: relative;
  text-align: center;

  > * {
    position: relative;
  }

  p {
    font-size: 2.4rem !important;
    line-height: 1.2 !important;
    font-style: italic;
    margin: 0 !important;
  }

  cite {
    font-family: $fs-sans;
    font-size: 1.6rem;
    font-weight: 400;
    color: rgba($tint, 0.6);

    &::before {
      content: '–';
      margin: 0 5px;
    }
  }

  @include breakpoint(l) {
    p {
      font-size: 3rem !important;;
    }

    cite {
      font-size: 1.8rem;
    }
  }
}
